body {
    font-family: "Montserrat", sans-serif;
    background-color: ;
}

:root {
    --typical-first-font: 'Roboto', sans-serif;
    --typical-second-font: 'Inter', sans-serif;
    --typical-color-text:  #F3F3F3;
    --typical-pasive-color: rgba(188, 26, 26, 0.2);
    --typical-active-color: rgba(188, 26, 26, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    isplay: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    font-family: inherit;
}

.container {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ----------------- hero -----------------*/

.hero {
    padding-top: 72px;
    padding-bottom: 72px;

    background-color: #2e2f42;
} 

.container {
}

.hero-container {
    display: flex;
}

.hero-left-container {

}

.hero-right-container {
display: flex;
gap: 160px;
}

.hero-title {
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    color: #F3F3F3;  
}

.hero-subtitle {
    margin-bottom: 48px;
}

.hero-btn {
    margin-bottom: 48px;
    padding: 20px 84px;
    border: none;
    border-radius: 16px;
}

.hero-list-of-details {
    display: flex;
    gap: 31px;
}

.hero-item-detail {
}



.hero-list-description-ingredients {
}

.hero-item-description-ingredient {
}

.hero-soc-list {
}

.hero-soc-item {
}

.hero-link {
}

.hero-icons {
}

/* ----------------- section1 -----------------*/

/* ----------------- section2 -----------------*/

/* ----------------- section3 -----------------*/

/* ----------------- section4 -----------------*/

/* ----------------- footer -----------------*/













