:root {
  --typical-first-font: "Roboto", sans-serif;
  --typical-second-font: "Inter", sans-serif;
  --typical-color-text: #f3f3f3;
  --typical-pasive-color: rgba(188, 26, 26, 0.2);
  --typical-active-color: rgba(188, 26, 26, 0.5);
  --backdrop-background-color: #C9C9C9;
  --modal-background-color: #100F0F;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: ;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.current {
  color: var(--typical-active-color);
}
/* ------------- HEADER --------------*/

.header {
  border-bottom: 3px solid #100F0F;
  background: linear-gradient(
    256.51deg,
    rgba(111, 102, 102, 0.9) 26.96%,
    rgba(16, 15, 15, 0.9) 79.08%,
    rgba(16, 15, 15, 0.9) 79.08%
  );
}
.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
    
}
.logo-icon {
  fill: var(--typical-color-text);
  margin-right: 16px;
  cursor: pointer;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.logo-icon:is(:hover, :focus) {
  fill: var(--typical-active-color);
}

.header-logo {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-transform: uppercase;
    color: var(--typical-color-text);
    margin-right: 236px;
    padding-top: 31px;
    padding-bottom: 25px;
}

.header-list {
    display: flex;
    gap: 52px;
}

.header-item {
}

.header-link {
<<<<<<< Updated upstream
    font-weight: 600;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: var(--typical-color-text);
    padding-top: 33px;
    padding-bottom: 27px;
=======
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--typical-color-text);
  padding-top: 33px;
  padding-bottom: 27px;
  transition: color var(--transition-duration) var(--transition-timing-function);
>>>>>>> Stashed changes
}

.header-link:is(:hover, :focus) {
    color: var(--typical-active-color);
}

.header-button {
<<<<<<< Updated upstream
    font-family: inherit;
    font-weight: 800;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: var(--typical-color-text);
    border: 1px solid var(--typical-color-text);
    border-radius: 16px;
    background-color: transparent;
    padding: 10px 33px;
=======
  font-family: inherit;
  font-weight: 800;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--typical-color-text);
  border: 1px solid var(--typical-color-text);
  border-radius: 16px;
  background-color: transparent;
  padding: 10px 33px;
  transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
>>>>>>> Stashed changes
}

.header-button:is(:hover, :focus) {
    color: var(--typical-active-color);
    border-color: var(--typical-active-color);
}


/* ----------------- hero -----------------*/

.hero {
  padding-top: 72px;
  padding-bottom: 72px;

  background-color: #2e2f42;
}

.hero-container {
  display: flex;
}

.hero-left-container {
}

.hero-right-container {
  display: flex;
  gap: 160px;
}

.hero-title {
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
  color: #f3f3f3;
}

.hero-subtitle {
  margin-bottom: 48px;
}

.hero-btn {
  margin-bottom: 48px;
  padding: 20px 84px;
  border: none;
  border-radius: 16px;
<<<<<<< Updated upstream
=======

  transition: background-color var(--transition-duration) var(--transition-timing-function);

  font-weight: 500;
  font-size: 30px;
  line-height: 1.22;
  color: var(--typical-color-text);
  background-color: var(--typical-pasive-color);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--typical-active-color);
>>>>>>> Stashed changes
}

.hero-list-of-details {
  display: flex;
  gap: 31px;
}

.hero-item-detail {
}

.hero-list-description-ingredients {
}

.hero-item-description-ingredient {
}

.hero-soc-list {
}

.hero-soc-item {
}

.hero-link {
}

.hero-icons {
<<<<<<< Updated upstream
=======
  fill: var(--typical-color-text);
  transition: fill var(--transition-duration) var(--transition-timing-function);
>>>>>>> Stashed changes
}

/* ----------------- section1 -----------------*/

/* ----------------- section2 -----------------*/

/* ----------------- section3 -----------------*/

/* ----------------- section4 -----------------*/

/* ----------------- footer -----------------*/
<<<<<<< Updated upstream
=======
.footer {
  padding-top: 24px;
  /* background: #C9C9C9; */
}

.footer-container {
  display: flex;
  align-items: center;
}
.footer-navigation-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.footer-navigation {
}
.footer-logo-icon {
  fill: #F3F3F3;
  margin-top: 64px;
  margin-left: 85px;
  margin-right: 16px;
  cursor: pointer;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.footer-logo-icon:is(:hover, :focus) {
  fill: rgba(188, 26, 26, 0.5);
}
.footer-logo {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #F3F3F3;
  font-style: normal;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.footer-logo:is(:hover, :focus) {
  color: var(--typical-active-color);
}
.link {
}
.footer-list {
  display: block;
  align-items: center;
  margin-right: auto;
}
.list {
}
.footer-item {
  
}
.footer-link {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  font-style: normal;
  color: #F3F3F3;

  margin-top: 24px;
  margin-left: 157px; 
  margin-right: 173px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.footer-link:is(:hover, :focus) {
  color: var(--typical-active-color);
}
.address-container {
}
.address {
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
}
.footer-address-icon {
  fill: #F3F3F3;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.footer-address-icon:is(:hover, :focus) {
  fill: var(--typical-active-color);
}
.footer-address {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #F3F3F3;
  font-style: normal; 
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-address:is(:hover, :focus) {
  color: var(--typical-active-color);
}

.footer-mail {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #F3F3F3;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:is(:hover, :focus) {
  color: var(--typical-active-color);
}

.footer-soc-list {
}
.footer-soc-item {
}
.footer-soc-link {
  /* fill: #F3F3F3; */
}
.footer-soc-icon {
  fill: #F3F3F3;
  transition: fill var(--transition-duration) var(--transition-timing-function);
  margin-left: 218px;
}
.footer-soc-icon:is(:hover, :focus) {
  fill: var(--typical-active-color);
}
.footer-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #979797;
  font-style: normal;
  margin-left: 405px;
}

/* MODAL WINDOW */
/* .backdrop {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background-color);
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  z-index: 100;
  min-height: 756px;
  width: 530px;
  padding:
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: var(--modal-background-color);
  border-radius: 16px;
  opacity: 1;

}
 .backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.75);
 }

 .modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 28px;
  right: 28px;
  background-color: var(--modal-background-color);
  border: none;
  
 }

 .modal-close-button:is(:hover, :focus) {
  background-color: var(--typical-active-color); not sure
 }

 .modal-close-button-icon {
  fill: var(--typical-color-text);
 }

 .modal-close-button:hover .modal-close-button-icon,
 .modal-close-button:focus .modal-close-button-icon {
  fill: var(--typical-active-color); - not sure
 } */



>>>>>>> Stashed changes
